<div class="sidebar" data-color="purple">
    <div class="logo">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" width="90%" alt="">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Users']">
                    <i class="material-icons">people</i>
                    <p>Users</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Subject']">
                    <i class="material-icons">dashboard</i>
                    <p>Subjects</p>
                </a>
            </li>
        </ul>
    </div>
</div>
