<div aria-hidden="true">
    <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">Email
                        <span class="red">*</span></label>
                    <input class="form-control" [(ngModel)]="email"  type="Email" name="Email" required="true"
                        required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">Phone Number
                        <span class="red">*</span></label>
                    <input class="form-control"  [(ngModel)]="phone" type="text" name="Phone" required="true"
                        required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">First Name
                        <span class="red">*</span></label>
                    <input class="form-control"  [(ngModel)]="firstName" type="text" name="FirstName" required="true"
                        required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">Last Name
                        <span class="red">*</span></label>
                    <input class="form-control"  [(ngModel)]="lastName" type="text" name="LastName" required="true"
                        required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-danger waves-effect" (click)="close()"
            data-dismiss="modal">Cancel</button>
        <button type="button" data-dismiss="modal" (click)="save()" class="btn btn-sm btn-outline-success waves-effect">Submit</button>
    </div>
</div>